body {
  background-color: #4B723D ;
  font-family: 'Work Sans', sans-serif;;
}

p{
  background-color: white;
}
h1{
  margin: 10px 160px;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4F4234;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #CEC9AB;
  display: block;
}

.sidenav a:hover {
  color: #7A7265;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

#outside{
  margin: 0px 165px;
}

#map{
  margin: 200px;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

.left {
  margin-left: 1px;
  width: 35%;
}

.right {
  width: 35%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  width: 10px;
  display: table;
  clear: both;
}

.container {
  width: 400px;
  margin-left: 205px;
  background-color: #CEC9AB;
  padding: 2px 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
