{% load static %}
<html>
<head>
  <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <script src="{% static 'main.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>
<body>

  <div class="sidenav">
    <a href="{% url 'index' %}"> <img id="logo" src="{% static 'logo.jpg' %}" width="100" height="100" alt="logo"></a>
    <a href="menu">MENU</a>
    <a href="location">LOCATION </a>
    <a href="order">ORDER ONLINE</a>
    <a href="about">ABOUT US</a>
  </div>

    <img id="outside" src="{% static 'outside.jpg' %}" width="500" height="600" alt="logo">

</body>
<footer>
</footer>
</html>
