{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
      <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="store.js" async></script>
</head>
<body>

  <div class="sidenav">
    <a href="{% url 'index' %}"> <img id="logo" src="{% static 'logo.jpg' %}" width="100" height="100" alt="logo"></a>
    <a href="menu">MENU</a>
    <a href="location">LOCATION </a>
    <a href="order">ORDER ONLINE</a>
    <a href="about">ABOUT US</a>
  </div>

    <div class="icon-bar">
      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="google"><i class="fa fa-google"></i></a>
      <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
    </div>

<h1>MENU</h1>
<br>
<br>



{% for meat in meats.all %}
<div class="row">
  <div class="column">
    <div class="card">
        <div class="container">
          <img src="food/{{meat.image.url}}" height="100" width="150">
          <h4><b>{{ meat.food_item }}</b></h4>
          <p>{{ meat.price}}</p>
          <p>{{ meat.description }}</p>
            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
    </div>
  </div>
</div>


{% endfor %}

</body>
</html>
